html,
body {
    margin: 0px;
    padding: 0px;
    font-family: Raleway;
    /* overflow: hidden; */
}

.maincontainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F0F0F0;
}

.sketchcontainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#sketch-holder {
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.unitselector {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

.radios {
    display: flex;
}

.selectors {
    margin-bottom: 5px;
    width: 100vw;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.zero,
.length {
    margin-right: 30px;
    font-weight: bold;
}

.zeroinput,
.lengthinput {
    width: 100px;
}

.reading {
    font-size: 20px;
    margin-right: 15px;
    display: flex;
}

.readinginput {
    font-size: 20px;
    width: 100px;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}

.remarks,
.streak {
    height: 20px;
    width: 100%;
    text-align: center;
}

.correct {
    color: #469e0b;
}

.wrong {
    color: rgb(156, 10, 10);
}

.sliders {
    width: 800px;
    height: 30px;
    position: relative;
}

.slider {
    position: absolute;
    left: 250px;
    width: 300px;
    margin-bottom: 0px;
}

.cropdiv {
    width: 200px;
    right: 0px;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media screen and (max-width: 900px) {
    .maincontainer {
        height: auto;
    }

    h2 {
        margin-top: 30px;
    }

    .selectors {
        width: 100vw;
        flex-direction: column;
    }

    .unitselector, .zero,
    .length {
        margin-right: 0px;
    }

    .unitselector {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .cropdiv {
        display: none;
    }

    .sliders {
        width: 100vw;
        text-align: center;
    }

    .slider {
        position: relative;
        left: auto;
    }

    .streak {
        margin-bottom: 30px;
    }
}