/* :root {
    --promptWidth: 290px;
    --promptHeight: 180px;
    --marginBetweenContainer: 15px;
} */

body {
    margin: 0px;
    padding: 0px;
    /* height: 100%; */
    /* overscroll-behavior: contain;
    overflow: hidden; */
}

canvas,
img {
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
}

.maincontainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titlecontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

.maintitle {
    font-size: 40px;
    margin-bottom: 0px;
}

.tooltip {
    width: 40px;
    height: 40px;
    font-size: 30px;
    font-weight: bolder;
    color: rgb(212, 212, 212);
    border-color: rgb(212, 212, 212);
    border-style: solid;
    border-radius: 5px;
    text-align: center;
    line-height: 40px;
}

.tooltip:hover {
    color: rgb(105, 105, 105);
    border-color: rgb(105, 105, 105);
}

.tooltipreceived {
    color: rgb(99, 150, 101);
    border-color: rgb(99, 150, 101);
}

.tooltipreceived:hover {
    color: rgb(31, 77, 32);
    border-color: rgb(31, 77, 32);
}

.explanationcontainer {
    padding: 10px;
    flex: display;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 300px;
    color: rgb(105, 105, 105);
    border-color: rgb(105, 105, 105);
    border-style: solid;
    border-radius: 5px;
    background-color: white;
    top: 52px;
    right: 0px;
    font-size: 15px;
    font-weight: normal;
    line-height: 15px;
    text-align: left;
}

.explanationreceived {
    height: 500px;
    overflow-y: scroll;
}

/* .images {
    width: 280px;
} */

.submitted {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.submitteddiv {
    margin-bottom: 10px;
}

.newpara {
    margin-top: 20px;
}

.titletext2 {
    margin-bottom: 30px;
}

.imagescontainer {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.contentandimagecontainer {
    display: flex;
    width: 20vw;
    flex-direction: column;
    margin-right: 10px;
}

.contentimagecontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contentimagetitle {
    font-size: 20px;
    margin-bottom: 5px;
    align-items: center;
}

.contentimage {
    width: 100%;
}

.styleimagecontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.styleimagetitle {
    font-size: 20px;
    margin-bottom: 5px;
}

.styleimage {
    width: 100%;
}

.styledimage {
    margin-left: 10px;
    width: 50vw;
    height: 60vh;
    border: 5px solid black;
    position: relative;
}

#styledimagecanvas {
    display: block;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.predictioncontainer {
    font-size: 20px;
    height: 25px;
    width: 100vw;
    text-align: center;
    margin-bottom: 10px;
}

.sketchcontainer {
    padding: 5px;
    background-color: black;
    margin-bottom: 20px;
}

.buttonscontainer {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.buttonscontainerhiddenspace {
    width: 20vw;
    margin-right: 10px;
}

.submitcontainer {
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.epochslidercontainer {
    width: 20vw;
    margin-right: 30px;
}

.epochtext {
    font-weight: bold;
}

.slider {
    -webkit-appearance: none;
    width: 20vw;
    height: 20px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-bottom: 1rem;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #33C3F0;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #33C3F0;
    cursor: pointer;
}

.button-primary {
    margin-bottom: 0px;
}


/* #sketch-holder {
    height: 400px;
    width: 400px;
} */

@media screen and (max-width: 600px) {
    /* .titlecontainer {
        width: 80vw;
    } */

    .hiddenspace {
        height: 40px;
    }
    
    .maincontainer {
        height: auto;
    }

    .maintitle {
        font-size: 30px;
    }

    .titletext {
        width: 80vw;
    }

    .titletext2 {
        width: 80vw;
    }

    .imagescontainer {
        flex-direction: column;
        margin-bottom: 10px;
    }

    .contentandimagecontainer {
        width: 80vw;
        flex-direction: row;
        margin-bottom: 20px;
    }

    .contentimagecontainer {
        width: 40vw;
    }

    .styleimagecontainer {
        width: 40vw;
    }

    .styledimage {
        margin-left: 0px;
        width: 80vw;
        height: 40vh;
        border: 5px solid black;
    }

    #styledimagecanvas {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .submitcontainer {
        width: 80vw;
    }

    .buttonscontainerhiddenspace {
        width: 0vw;
        margin-right: 0px;
    }

    .epochslidercontainer {
        width: 35vw;
    }

    .slider {
        width: 35vw;
    }

}